/* .card-image {
    height: 270px;
    width: 99%;
    border: 1px solid rgb(228, 228, 228);
} */
/* .card{
    border: 1px solid transparent;
    box-shadow: 0px 0px 2px black;
    width: 20%;
    min-width: 250px;
    height: auto;
    margin: 1%;
    background-color: white;
    transition: 0.3s;
} 
.card:hover{
    box-shadow: 0px 0px 15px #0000005a;
} */
.card-name{
    height: 40px;
    overflow: hidden;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    margin: 1.5% 1.2%; 
}

.card-text{
    padding: 10px;
}

div.header.card-price{
    font-weight: 550;
    padding-top: 10px;
}
.ui.card:first-child{
    margin-top: 1px;
}

.ui.card, .ui.cards>.card{
    box-shadow: 1px 1px 1px black;
}